# Documentation dependencies
mkdocs>=1.6
mkdocs-material>=9.5
mkdocstrings[python]>=0.25
mkdocstrings-python>=0.25
griffe>=1.1
mkdocs-gen-files>=0.5
mkdocs-literate-nav>=0.6
mkdocs-section-index>=0.3
mike>=2.0
pydantic>=2.0
